<div class="main">   

<div class="header">
    Header
</div>

<div class="container" >

    <div class="container1">
            <div class="insurance-container">

            </div>

            <div class="offer-link">
                      <a  href="">more offers</a>
            </div>

            <div class="offer-img-container">
                      <img class="offer-img" src="../assets/images/offer-1.png">
                      <img class="offer-img" src="../assets/images/offer-2.png">
                      <img class="offer-img" src="../assets/images/offer-3.png">
            </div>
     </div>

    <div class="container2">

            <div>
                      <img class="above-side-nav" src="../assets/images/ae-background.png">
            </div>

            <div class="sidenav">

                    <a href="#noticeboard">
                          <img class="icon icon-1" src="../assets/images/notice-board.PNG" alt="">
                           Notice Board
                    </a> 

                    <a href="#recharge">
                          <img class="icon icon-2" src="../assets/images/Recharge.PNG" alt="">
                          Recharge
                    </a> 

                    <a href="#airlineupdate">
                          <img class="icon icon-3" src="../assets/images/airline-update.PNG" alt="">
                          Airline Update
                    </a> 

                    <a href="#gstinvoice">
                          <img class="icon icon-4" src="../assets/images/gstinvoice.PNG" alt="">
                          GST Invoice Format
                    </a>       
                
            </div>

    </div>
</div>

</div>

